.number{
    font-size: 40px;
    margin-left: 600px;
   background-color: red;
   color: white;
   padding: 30px;
   border-radius: 50%;
   cursor: pointer;
}


.mainRandomNumber{
    margin-top: 50px;
    margin-bottom: 60px;
}

p{
    margin-left: 425px;
    margin-bottom: 50px;
    font-size: 50px;

}

.line1{
    display: flex;
    margin-bottom: 30px;
}

.line2{
    display: flex;
}

.btn{
    padding: 20px;
    margin-left: 600px;
    border-radius: 20px ;
}