<section class="mainRandomNumber">
  <p>Choose all the factors</p>
  <span class="number" (click)="random(10, 30)">{{ randomNumber }}</span>
</section>

<section class="line1">
  <app-button></app-button>
  <app-button></app-button>
  <app-button></app-button>
  <app-button></app-button>
</section>

<section class="line2">
  <app-button></app-button>
  <app-button></app-button>
  <app-button></app-button>
  <app-button></app-button>
</section>

<button class="btn" (click)="random(10, 30)"> Submit </button>
